.env-badge {
  width: 120px;
  height: 40px;
  position: fixed;
  top: 0px;
  z-index: 999999;
  text-align: center;
  border-end-end-radius: 40px;
  border-end-start-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: color;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  border: 1px solid #00000008;
  user-select: none;
}
